@model AddClaimViewModel
@{
    ViewData["Title"] = "Add claim to user";
}

@if (!Model.UserClaims.Any())
{
    <h1>No claims were found, please add some claims first.</h1>
}
else
{
    <form asp-controller="ManageUsers" asp-action="AddClaimToUser" method="post">
        <div asp-validation-summary="ModelOnly"></div>

        @for (int i = 0; i < Model.UserClaims.Count; i++)
        {
            <div class="form-group">
                <input asp-for="@Model.UserClaims[i].IsSelected" />
                <label>@Model.UserClaims[i].ClaimType</label>
            </div>
            <div class="form-group">
                <input asp-for="@Model.UserClaims[i].IsSelected" />
                <label>@Model.UserClaims[i].ClaimType</label>

                <input asp-for="@Model.UserClaims[i].ClaimType" />
            </div>
        }
        <input type="hidden" asp-for="@Model.UserId" />
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
}
</html>